<!DOCTYPE html>
<html lang="en-US">
	
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8XZSENZL00"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8XZSENZL00');
</script>

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Set the title directly -->
    <title>Maxime Meyer</title>
        <meta name="description" content="Maxime Meyer, PhD Student at the Department of Mathematics, National University of Singapore. 
          Exploring Approximation Theory, Online Learning, and Learning Theory.">

    <link rel="stylesheet" href="/assets/css/colors-light.css?v=">
    <link rel="stylesheet" href="/assets/css/style.css?v=">

    <link rel="preload" href="photo7.jpg" as="image">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">

<!-- Setup Google Analytics -->




<!-- You can set your favicon here -->


<!-- end custom head snippets -->

  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <header>
          <!-- Set static h1 title -->
          <h1 style="text-align: center;">Maxime Meyer</h1>
          
          
            <img class="img-circle" src="photo7.jpg" alt="Logo">
          
	        <div><h3><p>PhD Student<br><a href='https://ipal.cnrs.fr/'>IPAL</a> & <a href='https://aisingapore.org/research/phd-fellowship-programme/'>AISG</a><br><a href='https://www.math.nus.edu.sg/'>Department of Mathematics</a> <br> <a href='https://nus.edu.sg/'>National University of Singapore</a></p></h3></div>
	        <div><h3></h3></div>
	        <div><h3></h3></div>

          <div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <!-- <li><a href="https://github.com/yannismontreuil"><i class="<i class='fa-brands fa-github'></i>"></i> GitHub</a></li> -->
        <li>
          <a href="https://scholar.google.com/citations?user=ksdbgj4AAAAJ&hl=fr" target="_blank">
            <i class="fa-solid fa-graduation-cap"></i>&nbsp;Scholar
          </a>
        </li>      <!-- <li><a href="mailto:yannis.montreuil@u.nus.edu"><i class="<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' style='vertical-align:-0.125em;' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'><path fill='currentColor' d='M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7L4 8v10h16V8zm0-2l8-5H4zM4 8V6v12z'/></svg>"></i> Mail</a></li> -->
       <li><a href="mailto:maxime.meyer@u.nus.edu"><svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' style='vertical-align:-0.125em;' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'><path fill='currentColor' d='M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7L4 8v10h16V8zm0-2l8-5H4zM4 8V6v12z'/></svg>&nbsp;Mail</a></li>
      <!-- <li><a href="https://www.linkedin.com/in/yannis-montreuil/"><i class="<i class='fa-brands fa-linkedin'></i>"></i> LinkedIn</a></li> -->
       <li><a href="https://www.linkedin.com/in/maxime-victor-meyer/"><i class='fa-brands fa-linkedin'></i>&nbsp;LinkedIn</a></li>
		<li>
  <a href="cv.pdf" target="_blank">
    <i class="fa-solid fa-file-pdf"></i>&nbsp;CV
  </a>
</li>

    </ul>
  </div>


          
	        <div><h3>
<h3 style="margin-top: 20px; margin-bottom: 5px;">Research Interests</h3>
<p align="justify" style="margin-top: 5px; line-height: 1.2;">
Machine Learning Theory, Approximation Theory, Online Learning.
</p>
</h3></div>
        </header>

        <div class="link-wrapper-mobile" id="link-wrapper-mobile">
    
        <img class="logo" src="photo7.jpg" alt="Logo">
    
    <style scoped>
    	#link-wrapper-mobile .logo {
            display: block; /* or inline-block, depending on your layout needs */
            margin: 0 auto; /* Center the logo */
            max-width: 300px; /* Adjust the size as needed */
            height: auto; /* Maintain aspect ratio */
        }
        #link-wrapper-mobile a {
            color: var(--clr-h1-and-bold);
            text-decoration: none;
        }
        #link-wrapper-mobile a:hover, a:focus {
            color: var(--clr-a-text-hvr);
        }
    </style>

    <!-- Logo Image -->


    <!-- Links -->
        <nobr><a href="mailto:maxime.meyer@u.nus.edu" rel="me"><svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' style='vertical-align:-0.125em;' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'><path fill='currentColor' d='M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7L4 8v10h16V8zm0-2l8-5H4zM4 8V6v12z'/></svg>&nbsp;Mail</a><span style="margin-left: 6px;"></span></nobr>
        <nobr><a href="https://www.linkedin.com/in/maxime-victor-meyer/" rel="me"><i class='fa-brands fa-linkedin'></i>&nbsp;LinkedIn</a></nobr>
</div>



        <div class="sidebar-footer"><p><small></small></p>
</div>
      </div>
      <section>

<h2>Hi!</h2>

<p>
  I am Maxime, a PhD Student at the Department of Mathematics of the National University of Singapore, 
  under the guidance of Prof. <a href="https://vyftan.github.io/">Vincent Tan</a>, and Prof. <a href="https://www.i2m.univ-amu.fr/perso/caroline.chaux-moulin/">Caroline Chaux</a>. 
</p>

<p>
  I am particularly interested in the theoretical properties of Transformers.
</p>



		  
<h2>Publications</h2>
<ul>
  <li>
    <strong>Maxime Meyer</strong>*, Mario Michelessa*, Caroline Chaux, Vincent Y. F. Tan (2026). 
    <em>The Expressive Limits of Transformers.</em>.
  </li>
	<li>
    <strong>Maxime Meyer</strong>*, Hoang Duy Dang*, Yannis Montreuil*, Lai Xing Ng, Axel Carlier, Wei Tsang Ooi  (2025). 
    <em>Online Learning-to-Defer with Varying Experts.</em> 
	<u>Accepted to AISTATS 2026</u>
   </li>
  <li>
    <strong>Maxime Meyer</strong>, Mario Michelessa, Caroline Chaux, Vincent Y. F. Tan (2025). 
    <em>Memory Limitations of Prompt Tuning in Transformers.</em> 
    <a href="https://arxiv.org/abs/2509.00421">arXiv preprint arXiv:2509.00421</a>.
  </li>
  <li>
    <strong>Maxime Meyer</strong>, Soumik Adhikary, Naixu Guo, Patrick Rebentrost (2025). 
    <em>Online Learning of Pure States is as Hard as Mixed States.</em> 
    <a href="https://arxiv.org/abs/2502.00823">arXiv preprint arXiv:2502.00823</a>.
	<u>Accepted to NeurIPS 2025</u>
   </li>
</ul>

        
<h2 id="talks">Talks and Posters</h2>
<ul>
	<li>
    <u>AAAI MATH4AI Workshop</u>, Talk, <em>The Expressive Limits of Transformers</em>, Singapore, Jan 2026.
  </li>
	<li>
    <u>AAAI Doctorate Consortium</u>, Talk, <em>Memorization and Expressivity in Transformers: A Learning-Theoretic Perspective</em>, Singapore, Jan 2026.
  </li>
  <li>
    <u>TQC</u> (Theory of Quantum Computation, Communication and Cryptography), Poster, <em>Online Learning of Pure States is as Hard as Mixed States</em>, Bangalore, Sep 2025.
  </li>
  <li>
    <u>The Singapore-Bangalore "What is ...?" Workshop on Mathematics</u>, Poster, <em>Online Learning of Pure States is as Hard as Mixed States</em>, Bangalore, Aug 2025.
  </li>
  <li>
    <u>AQIS</u> (Asian Quantum Information Science Conference), Poster, <em>Online Learning of Pure States is as Hard as Mixed States</em>, Hong Kong, Aug 2025.
  </li>
  <li>
    <u>Centre for Quantum Technologies, NUS</u>, Talk, <em>On the sequential fat-shattering dimension of Quantum States</em>, Singapore, Nov 2024.
  </li>
</ul>


<h2 id="teaching">Teaching</h2>
<ul>
  <li>DSA3102 Essential Data Analytics Tools: Convex Optimisation</li>
  <li>QF1100 Introduction to Quantitative Finance</li>
  <li>MA4235 Topics in Graph Theory</li>
  <li>MA1301 Introductory Mathematics</li>
  <li>MA1522 Linear Algebra for Computing</li>
</ul>

<h2 id="students">Students</h2>
<ul>
  <li>AY24/25: Dang Hoang Duy</li>
</ul>

<h2 id="awards">Awards</h2>
<ul>
  <li>AISG PhD Fellowship Programme, 2026</li>
  <li>Department  Graduate  Teaching Award, 2025</li>
  <li>IPAL PhD Scholarship, 2025</li>
</ul>


      </section>
      <footer><p><small></small></p>
</footer>
    </div>
    <script src="/assets/js/scale.fix.js"></script>
  </body>
</html>
